<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhangxiang.mychat.mapper.UserMapper">
    <insert id="register" parameterType="cn.zhangxiang.mychat.pojo.dto.UserRegisterDTO" useGeneratedKeys="true" keyProperty="userId">
        insert into user (nick_name, account, password, create_time)
        value (#{nickName},#{account},#{password},#{createTime})
    </insert>
</mapper>